@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&family=Roboto:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box !important;
  transition: 0.1s;
  scroll-behavior: smooth;
}

:root{
  --farst:#5b89c5;
  --scind:#000000a9;
  --red:#ff0000;
  --eee:#eee;
  --oraing:orange;
}




::-webkit-scrollbar {
  width: 10px;
  z-index: -1;
}

::-webkit-scrollbar-track {
  background-color: #dee9e7;
  box-shadow: 0 0 10px #000000 inset;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: #5daa7b;
  border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007b2f;
}

/* center */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

/* scrol */
.up {
  font-size: 30px;
  position: fixed;
  bottom: 60px;
  left: 70px;
  background-color: var(--farst) !important;
  color: var(--red);
  cursor: pointer;
  transition: 0.2s;
  z-index: 58865865;
  text-align: center;
  width: 80px;
  padding: 10px;
  animation: kbaka 1s infinite;
  transition: 5s;
}

@keyframes kbaka {
  0% {
    box-shadow: 10px 10px 20px var(--scind);
    padding: 20px;
    
  }

  50% {
    box-shadow: 10px 10px 20px var(--farst);
    padding: 0px;
  }

  100% {
    box-shadow: 10px 10px 20px var(--);
    padding: 20px;
    
  }
}

.buttonn {
  color: var(--scind);
  background-color: var(--farst);
  padding: 5px 15px;
  border-radius: 40px;
  transition: all 1s ease;
}

.buttonn:hover {
  color: var(--scind);
  font-weight: bold;
  background-color: var(--red);
  transition: 1s;
  border-radius: 40px;
}
/* coil */

.coil-as h2{
    font-size: 18px;
}
.coil {
  width: 160px;
}

/* kiraize and icon */
.fa-phone {
  font-size: 23px !important;
  padding-left: 10px;
}

.kiraize {
  color: var(--farst);
  font-size: 80px;
}

/* start header */

.logo {
  width: 80px;
  height: 60px;
  border-radius: 50px;
}

.navbar {
  box-shadow: 10px 10px 20px var(--scind);
  background-color: #ffffff;
  z-index: 12344;
  position: sticky !important;
  top: 0;
}

.navbar a {
  color: var(--scind);
}

.navbar .buttonn {
  padding: 3px 12px;
}

.navbar a:hover {
  color: var(--farst);
}

/* end header */

/* start home */

.main {
  height: 100vh;
  width: 100%;
}

.main .wrapper,
.slide {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  position: relative;
}

.main .slide {
  overflow: hidden;
}

.main .slide::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main .slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main .slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 12;
}

.main .slide .image-data .text {
  font-size: 70px;
  text-align: center;
  color: var(--eee);
}

.main .slide .image-data h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
}

/* end home */

/* start services */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  border-bottom: 5px solid var(--oraing);
  border-radius: 4px;
  color: var(--farst);
  padding-bottom: 10px;
  padding-top: 10px;
}

.services .container p {
  padding-top: 50px;
  text-align: center;
  font-size: 24px;
}

/* end services */

/* kbaka=================== */

.features {
  padding-bottom: 20px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
  background-color: var(--farst);
  border-radius: 20px;
  box-shadow: 10px 10px 20px var(--scind);
}

.open-one {
  display: block;
}

.features .feat:hover {
  background-color: var(--eee);
}

.features .feat a {
  background-color: var(--red);
  color: var(--farst);
}

.features .feat a:hover {
  background-color: var(--farst);
  color: var(--red);
}

.features .feat .col h4 {
  font-size: 24px;
  color: var(--scind);
}

.features .feat .col p {
  font-size: 18px;
}

.features .feat .col i {
  color: var(--darck);
  font-size: 50px;
  z-index: 123123;
}

/* kbaka=================== */

/* start devices */
.devices .col .card {
  border: 1px solid var(--farst);
  padding: 10px;
}

.devices .col .card h5 {
  text-align: center;
  border-bottom: 3px solid var(--farst);
  font-size: 24px;
  padding-bottom: 10px;
  border-radius: 50%;
}

.devices .col .card img {
  border: 2px solid var(--farst);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.devices .col .card a {
  text-align: center;
  margin-top: 10px;
}

/* end devices */

/* start  services-tow */

.services-tow .swiper .swiper-slide {
  background-color: #999;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

/* end services-tow */

.services-three {
  padding: 30px;
  text-align: center;
}

/* end services-three */

/* stsart  form */
.send {
  background-color: var(--farst);
  outline: none;
  border: none;
  margin-top: 10px;
}

/*end form */

/* start footer */
footer {
  filter: blur(50%);
  padding: 30px;
  z-index: -1;
  border-radius: 40px;
  box-shadow: var(--scind);
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  padding: 10px 0;
}

